@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.drag {
  -webkit-app-region: drag;
}

.noDrag {
  -webkit-app-region: no-drag;
}


::-webkit-scrollbar {
  width: 12px;
  background-color: #3434588f;
}


::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2428e2;
  border-radius: 15%;
}