.toast {
  transition: transform 0.3s ease-in-out;
  animation: toast-in-right 0.3s;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
